# Rename this file to .env before running the server
# Get MONGO_URI from your MongoDB Atlas cluster (Connect > Drivers)
MONGO_URI=mongodb://tamilselvants3020_db_user:vnyprAUselU1z6rf@ac-vce3mrb-shard-00-00.silijuh.mongodb.net:27017,ac-vce3mrb-shard-00-01.silijuh.mongodb.net:27017,ac-vce3mrb-shard-00-02.silijuh.mongodb.net:27017/auditLogs?ssl=true&replicaSet=atlas-f48noj-shard-0&authSource=admin&appName=Cluster0&retryWrites=true&w=majority
PORT=5000
